<html lang='en'>
    <head>
        <meta charset='UTF-8' />
        <meta http-equiv='X-UA-Compatible' content='IE=edge' />
        <meta name='viewport' content='width=device-width, initial-scale=1.0' />
        <title>{{title}}</title>

        <meta charset='utf-8' />
        <meta name='description' content='{{companyInfor.information.0.description}}' />
        <meta name='keywords' content='{{companyInfor.information.0.name}}, {{title}}' />
        <meta property='og:title' content='{{title}}' />
        <meta property='og:description' content='{{companyInfor.information.0.description}}' />
        <meta property='og:image' content='{{companyInfor.information.0.image_shortlink}}' />
        <meta property='og:type' content='{{companyInfor.information.0.name}} Short Link' />
        <meta property='og:image:alt' content='{{companyInfor.information.0.name}}' />
        <meta name='geo.region' content='VN' />
        <meta name='geo.position' content='{{companyInfor.address.0.lat}};{{companyInfor.address.0.lng}}' />

        <script
            src='https://unpkg.com/leaflet@1.9.2/dist/leaflet.js'
            integrity='sha256-o9N1jGDZrf5tS+Ft4gbIK7mYMipq9lqpVJ91xHSyKhg='
            crossorigin=''
        ></script>
        <script src='https://cdn-geoweb.s3.amazonaws.com/esri-leaflet/0.0.1-beta.5/esri-leaflet.js'></script>
        <script
            src='https://cdn-geoweb.s3.amazonaws.com/esri-leaflet-geocoder/0.0.1-beta.5/esri-leaflet-geocoder.js'
        ></script>
        <link rel='shortcut icon' href='{{companyInfor.information.0.logo}}' />
        <link rel='icon' href='{{companyInfor.information.0.logo}}' />
        <link
            href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css'
            rel='stylesheet'
            integrity='sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC'
            crossorigin='anonymous'
        />
        {{! <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/> }}
        <link
            rel='stylesheet'
            type='text/css'
            href='https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css'
        />
        <link
            rel='stylesheet'
            href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css'
            integrity='sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=='
            crossorigin='anonymous'
            referrerpolicy='no-referrer'
        />
        <link href='https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css' rel='stylesheet' />
        {{! <link rel="shortcut icon" type="image/x-icon" href="docs/images/favicon.ico"/> }}
        <link href='https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.7.2/flexslider.css' rel='stylesheet' />
        <link
            rel='stylesheet'
            href='https://unpkg.com/leaflet@1.9.2/dist/leaflet.css'
            integrity='sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14='
            crossorigin=''
        />
        <link
            rel='stylesheet'
            type='text/css'
            href='https://cdn-geoweb.s3.amazonaws.com/esri-leaflet-geocoder/0.0.1-beta.5/esri-leaflet-geocoder.css'
        />
        <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css' />
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css' />
        <link
            rel='stylesheet'
            href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'
        />
        <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.11.2/css/all.css' />
        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css' />
        <link href='https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css' rel='stylesheet' />
        <link href='/static/css/toast.css' rel='stylesheet' />

        <link rel='stylesheet' href='/static/css/{{style}}{{companyInfor.information.0.template_id}}.css' />
        <script src='https://unpkg.com/axios/dist/axios.min.js'></script>

    </head>
    <body>
        <style>
            {{root}}
        </style>
        <div id='toast__'></div>

        <div class='container main-content'>
            {{{body}}}
        </div>

        <script src='/static/js/{{style}}.js'></script>

    </body>
</html>