<div class="fix">
  <div id="preloader" style="display: block">
    <div id="loader"></div>
  </div>

  <section class="hero-sec2 bg-light-greem hero-ptb">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="hero-content hero-content-style1 h-100 d-flex justify-content-center flex-column">

            <h1 class="hero-title hero-title-{{lang}} tx-white" data-lang="home_header">
              Giải Pháp Tối Ưu Cho Ngành Vận Tải
            </h1>
            <p style="text-align: justify" class="hero-desc " data-lang="home_header_content">
              80% lỗi mất tín hiệu do sim vật lý gây ra
              (theo CSKH thống kê).Thiết bị giám sát hành
              trình 5G GPS tiên phong công nghệ eSim xóa
              bỏ những vấn đề khó khăn trong quản lý, vận
              hành vận tải.
            </p>
            <div class="hero-btn-area">
              <a class="thm-btn" href="/giai-phap"><span class="txt" data-lang="home_xemthem">Xem
                  Thêm</span></a><a class="thm-btn thm-btn-style2 btm-rm" href="/lien-he"><span class="txt"
                  data-lang="contact">Liên
                  Hệ</span></a>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="hero-images hero-style2">
            <div class="hero-feature-img feature-one br-style1 br-style2">
              <img alt="hero-img" loading="lazy" width="636" height="600" decoding="async" data-nimg="1"
                class="br-style1 br-style2 h-100" style="color: transparent"
                src="/static/_assets/images/hero/cart1.gif" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="introduce-product about-sec about-sec2 sec-ptb">
    <div class="container">
      <div class="row flex-row-reverse">
        <h4 class="sec-title sec-title-mobile">
          THIẾT BỊ GIÁM SÁT VỚI ESIM Tự hào tiên phong XÓA BỎ sim cứng
        </h4>
        <div class="col-lg-6 d-flex align-items-center" data-aos="fade-left" data-aos-duration="1500">
          <div class="sec-images sec-img-style col-right">
            <div class="product-image">
              <!-- <iframe src="https://hieupham.sirv.com/productspin/ok.spin" allow="autoplay"; width="400px" height="400px" frameborder="0" allowfullscreen></iframe> -->
              <img src="https://hieupham.sirv.com/productspin/ok.spin?image=34&gif.lossy=5&w=500&h=500" width="500"
                height="500" alt="product_thumb">
              <!-- <img src="https://hieupham.sirv.com/Spins/spin/ok.spin?image=5&gif.lossy=5&w=167&h=500" width="167" height="500" alt=""> -->
              <!-- <img src="https://hieupham.sirv.com/Spins/Trainers/Trainers.spin?image=36&gif.lossy=5&w=500&h=500" width="500" height="500" alt=""> -->
            </div>

          </div>
        </div>
        <div class="col-lg-6 tab-col-gap wow fadeInUp" data-aos="fade-right" data-aos-duration="1500">
          {{#if (eq lang 'vi')}}
          <div class="sec-content">
            <h4 style="font-size: 30px;" class="sec-title sec-title-none">
              THIẾT BỊ GIÁM SÁT VỚI ESIM - TỰ HÀO TIÊN PHONG XÓA BỎ SIM CỨNG
            </h4>
            <p class="sec-text">
              80% LỖI MẤT TÍN HIỆU CỦA THIẾT BỊ GSHT LÀ DO SIM VẬT LÝ
            </p>
            <h5>5G GPS với ESIM</h5>
            <ul class="sec-list-item">
              <li>
                <i class="fa-solid fa-square-check"></i>
                Không còn lo lắng bị phạt vì phương tiện không truyền dữ liệu
                theo quy định.
              </li>
              <li>
                <i class="fa-solid fa-square-check"></i>
                Giám sát liên tục, nâng cao vai trò quản lý giám sát
              </li>
              <li>
                <i class="fa-solid fa-square-check"></i>
                Dễ dàng thay đổi nhà mạng hay gói cước phù hợp với nhu cầu sử
                dụng.
              </li>
              <li>
                <i class="fa-solid fa-square-check"></i>
                Là giải pháp hiệu quả khi thay thế các thiết bị GSHT 2G trước
                đây sắp bị cắt bỏ.
              </li>
              <li>
                <i class="fa-solid fa-square-check"></i>
                Sản phẩm hợp chuẩn, hợp quy theo QCVN31, QCVN117, QCVN55.
              </li>
              <li>
                <i class="fa-solid fa-square-check"></i>
                Chính sách hậu mãi chu đáo, đội ngũ kỹ thuật hỗ trợ 24/24.
              </li>
            </ul>
          </div>
          {{else}}
          <div class="sec-content">
            <h4 style="font-size: 30px;" class="sec-title sec-title-none">
              MONITORING DEVICE WITH ESIM - PROUDLY PIONEERING IN ELIMINATING PHYSICAL SIMS
            </h4>
            <p class="sec-text">
              80% OF SIGNAL LOSS ISSUES IN GPS TRACKING DEVICES ARE CAUSED BY PHYSICAL SIMS
            </p>
            <h5>5G GPS with ESIM</h5>
            <ul class="sec-list-item">
              <li>
                <i class="fa-solid fa-square-check"></i>
                No longer worry about fines for vehicles not transmitting data as required.
              </li>
              <li>
                <i class="fa-solid fa-square-check"></i>
                Continuous monitoring, enhancing the management and supervision role.
              </li>
              <li>
                <i class="fa-solid fa-square-check"></i>
                Easily change carriers or plans to suit your usage needs.
              </li>
              <li>
                <i class="fa-solid fa-square-check"></i>
                An effective solution when replacing previous 2G GPS devices that are being phased out.
              </li>
              <li>
                <i class="fa-solid fa-square-check"></i>
                Products are compliant with QCVN31, QCVN117, QCVN55 standards.
              </li>
              <li>
                <i class="fa-solid fa-square-check"></i>
                Thoughtful after-sales policy, technical support team available 24/7.
              </li>
            </ul>
          </div>

          {{/if}}

        </div>
      </div>
    </div>
  </section>
  <section class="introduce-video newslatter-sec newslatter-sec2 bg-green">
    <div class="container">
      <div class="row aximo_screenfix_right">
        <div class="col-lg-5 d-flex align-items-center" data-aos="fade-up" data-aos-anchor-placement="top-bottom"
          data-aos-duration="2000">
          <div class="sec-content">
            <h2 class="sec-title text-center" data-lang="home_cnvt">
              CÔNG NGHỆ VẬN TẢI
              <span class="text-center" data-lang="home_uuviet">ƯU VIỆT</span>
            </h2>
            <p class="sec-text mb-0" data-lang="home_taiapp">
              Tải app và quét mã QRcode để trải nghiệm ngay cùng chúng tôi
            </p>
            <a class="dowloand-app-button" href="https://app.taixecongnghe.com/app"
              style="display: flex;justify-content: center;">
              <div class="app-info-group">
                <div class="app-info-qr-code">
                  <img src="/static/_assets/images/product/qr_code.png">
                </div>
                <div class="app-info-store-link">
                  <img src="/static/_assets/images/product/appstore0.png">
                  <img src="/static/_assets/images/product/googleplay0.png">
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-7 p-0">
          <div class="video-sec d-flex">
            <video width="auto" controls muted loop class="video-background" id="video">
              <source src="/static/_assets/video/video.mp4" type="video/mp4">
              Your browser does not support the video tag.
            </video>
            <div class="thumb-nail-video" id="thumb-nail-video">
              <div class="video-sec-overlay d-flex align-items-center justify-content-center">
                <a href="#" class="play-btn" id="play-btn"><i class="flaticon-play-button-arrowhead"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="introduce-category about-sec">
    <div class="container">
      <i class="fa-solid fa-face-awesome"></i>
      <div class="row">
        <div class="col-lg-6" data-aos="fade-up" data-aos-duration="1500">
          <div class="sec-images h-100 text-center">
            <img src="/static/_assets/images/categories/camnghidinh.jpg" alt="thumb_cat">
          </div>
        </div>
        <div class="col-lg-6 tab-col-gap" data-aos="fade-up" data-aos-duration="1500">
          {{#if (eq lang 'vi')}}

          <div class="service-lists service-lists-style1">
            <div class="wrapper_service mb-3">
              <div class="single-service single-service1 d-flex align-items-center wow fadeInUp">
                <div class="single-service-icon"> <i class="fi fi-rr-webcam"></i>
                </div>
                <div class="single-service-content">
                  <h4>Camera nghị định 10</h4>
                  <a> <i class="fi fi-br-angle-up"></i>
                  </a>
                </div>
              </div>
              <div class="accordion-body ">
                <p>
                  <i class="fas fa-check"> </i>
                  Bộ Camera duy nhất được cấp TCVN13396, QCVN31, độ phân giải
                  cao
                  Full HD
                </p>
                <p>

                  <i class="fas fa-check"> </i>
                  Dung lượng lưu trữ 1TB
                </p>
                <p>

                  <i class="fas fa-check"> </i>
                  Đặc biệt tích hợp màn hình cam lùi
                </p>
                <p>

                  <i class="fas fa-check"> </i>
                  Hợp quy và đáp ứng tiêu chuẩn ND 10/2020 của Chính Phủ
                </p>
              </div>
            </div>
            <div class="wrapper_service">
              <div class="single-service single-service2 d-flex align-items-center wow fadeInUp" data-wow-delay="0ms"
                data-wow-duration="1500ms"
                style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms;">
                <div class="single-service-icon"> <i class="fi fi-rs-aperture"></i>
                </div>
                <div class="single-service-content">
                  <h4>Camera hành trình </h4>
                  <a>
                    <i class="fi fi-br-angle-up"></i>
                  </a>
                </div>
              </div>
              <div class="accordion-body ">
                <p>
                  <i class="fas fa-check"> </i>
                  Chất lượng hình ảnh đạt chuẩn với độ phân giải cao từ HD đến
                  4K
                </p>
                <p>
                  <i class="fas fa-check"> </i>
                  Là thiết bị hiệu quả dành cho phương tiện vận tải
                </p>
                <p>
                  <i class="fas fa-check"> </i>
                  Đặc biệt, Camera hành trình là bằng chứng bảo vệ chính bạn khi
                  gặp rủi ro
                </p>
              </div>

            </div>
          </div>
          {{else}}
          <div class="service-lists service-lists-style1">
            <div class="wrapper_service mb-3">
              <div class="single-service single-service1 d-flex align-items-center wow fadeInUp">
                <div class="single-service-icon"> <i class="fi fi-rr-webcam"></i>
                </div>
                <div class="single-service-content">
                  <h4>Decree 10 Camera</h4>
                  <a> <i class="fi fi-br-angle-up"></i>
                  </a>
                </div>
              </div>
              <div class="accordion-body">
                <p>
                  <i class="fas fa-check"></i>
                  The only camera set certified with TCVN13396, QCVN31, high-resolution Full HD
                </p>
                <p>
                  <i class="fas fa-check"></i>
                  1TB storage capacity
                </p>
                <p>
                  <i class="fas fa-check"></i>
                  Especially integrated with a rearview camera display
                </p>
                <p>
                  <i class="fas fa-check"></i>
                  Compliant with and meets the standards of Government Decree 10/2020
                </p>
              </div>
            </div>
            <div class="wrapper_service">
              <div class="single-service single-service2 d-flex align-items-center wow fadeInUp" data-wow-delay="0ms"
                data-wow-duration="1500ms"
                style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms;">
                <div class="single-service-icon"> <i class="fi fi-rs-aperture"></i>
                </div>
                <div class="single-service-content">
                  <h4>Dashboard Camera</h4>
                  <a>
                    <i class="fi fi-br-angle-up"></i>
                  </a>
                </div>
              </div>
              <div class="accordion-body">
                <p>
                  <i class="fas fa-check"></i>
                  Standard image quality with high resolution from HD to 4K
                </p>
                <p>
                  <i class="fas fa-check"></i>
                  An effective device for transportation vehicles
                </p>
                <p>
                  <i class="fas fa-check"></i>
                  Especially, the dashboard camera serves as evidence to protect you in case of accidents
                </p>
              </div>
            </div>
          </div>

          {{/if}}
        </div>
      </div>
    </div>
  </section>
  <section class="agents bg-green">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="sec-content pt-5 pb-5">
            <h2 class="sec-title text-center text-light" data-lang="home_doitac">Đối Tác Của Chúng Tôi</h2>
          </div>
        </div>
        <div class="col-md-12">

          <div class="owl-carousel owl-theme pt-5 pb-5">
            {{#each agencysImages}}
            <div class="item">
              <div class="single-agent">
                <div class="agent-image">
                  <img src="{{this}}" alt="agent" alt="agent" />
                </div>

              </div>
            </div>
            {{/each}}
          </div>
        </div>

      </div>
    </div>
</div>
</section>
<section class="certificert team-sec sec-ptb bg-light-greem">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="sec-content">
          <h2 class="sec-title text-center" data-lang="home_chungnhan">Chứng nhận</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="team-slider position-relative pt-2">
          <div class="certificate-slider">
            <div class="swiper mySwiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <a class="frame-certificert d-block" data-fancybox="gallery"
                    href="http://taixecongnghe.com/static/images/interface/cn1.png">
                    <img src="http://taixecongnghe.com/static/images/interface/cn1.png" alt="Image 1">
                  </a>
                </div>
                <div class="swiper-slide">
                  <a class="frame-certificert d-block" data-fancybox="gallery"
                    href="http://taixecongnghe.com/static/images/interface/cn2.png">
                    <img src="http://taixecongnghe.com/static/images/interface/cn2.png" alt="Image 2">
                  </a>
                </div>
                <div class="swiper-slide">
                  <a class="frame-certificert d-block" data-fancybox="gallery"
                    href="http://taixecongnghe.com/static/images/interface/cn3.png">
                    <img src="http://taixecongnghe.com/static/images/interface/cn3.png" alt="Image 3">
                  </a>
                </div>
                <div class="swiper-slide">
                  <a class="frame-certificert d-block" data-fancybox="gallery"
                    href="http://taixecongnghe.com/static/images/interface/cn6.png">
                    <img src="http://taixecongnghe.com/static/images/interface/cn6.png" alt="Image 4">
                  </a>
                </div>
                <div class="swiper-slide">
                  <a class="frame-certificert d-block" data-fancybox="gallery"
                    href="http://taixecongnghe.com/static/images/interface/cn6.png">
                    <img src="http://taixecongnghe.com/static/images/interface/cn6.png" alt="Image 5">
                  </a>
                </div>
                <div class="swiper-slide">
                  <a class="frame-certificert d-block" data-fancybox="gallery"
                    href="http://taixecongnghe.com/static/images/interface/cn3.png">
                    <img src="http://taixecongnghe.com/static/images/interface/cn3.png" alt="Image 6">
                  </a>
                </div>
                <div class="swiper-slide">
                  <a class="frame-certificert d-block" data-fancybox="gallery"
                    href="http://taixecongnghe.com/static/images/interface/cn3.png">
                    <img src="http://taixecongnghe.com/static/images/interface/cn3.png" alt="Image 7">
                  </a>
                </div>
              </div>
              <div class="swiper-button-next swiper-button"></div>
              <div class="swiper-button-prev  swiper-button"></div>
            </div>
          </div>
        </div>
      </div>
</section>
<section class="company-qinfo-sec" data-aos="flip-up">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="company-qinfo-raaper bg-green d-lg-flex">
          <div class="single-info flex-lg-fill d-flex align-items-center justify-content-center">
            <div class="info-icon"><i class="flaticon-handshake"></i></div>
            <div class="info">
              <h2 class="fs-1"><span class="countfect fs-1">1500</span>+</h2><span data-lang="home_khachhang">Khách
                Hàng</span>
            </div>
          </div>
          <div class="single-info flex-lg-fill d-flex align-items-center justify-content-center">
            <div class="info-icon"><i class="flaticon-completed-task"></i></div>
            <div class="info">
              <h2 class="fs-1"><span class="countfect fs-1">5000</span>+</h2><span data-lang="home_nguoidung">Người
                Dùng</span>
            </div>
          </div>
          <div class="single-info flex-lg-fill d-flex align-items-center justify-content-center">
            <div class="info-icon"><i class="fi fi-ts-truck-moving"></i></div>
            <div class="info">
              <h2 class="fs-1"><span class="countfect fs-1">20000</span>+</h2><span data-lang="home_phuongtien">Phương
                Tiện</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="news blog-sec sec-ptb">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="sec-content mb-5">
          <h2 class="sec-title" data-lang="news">
            Tin tức
          </h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6" data-aos="zoom-in-up" data-aos-duration="1000">
        <a href="/tin-tuc/{{lang}}/{{getLocalizedField news.featuredMain.[0] 'slug' lang}}"
          class="blog-left-box blog-item me-lg-5 wow fadeInLeft" data-wow-delay="500ms" data-wow-duration="1500ms">
          <div class="img-box">
            <img alt="blog" loading="lazy" width="588" height="569" decoding="async" data-nimg="1" class="h-100"
              src="{{news.featuredMain.0.img}}" />
          </div>
          <div class="content-box">
            <div class="meta-box">
              <div class="meta-info d-flex">
                <div class="icon">
                  <i class="flaticon-calendar"></i>
                </div>
                <span>{{#dateFormatDDMMYY
                  news.featuredMain.0.date}}{{/dateFormatDDMMYY}}</span>
              </div>
            </div>
            <div class="title-box">
              <h3>
                {{getLocalizedField news.featuredMain.[0] 'title' lang}}
              </h3>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-6" data-aos="zoom-in-up" data-aos-duration="1000">
        <div class="blog-sidebar-box">
          <ul class="list-news-featured">
            {{#each news.featuredNews}}
            <a href='/tin-tuc/{{../lang}}/{{getLocalizedField this 'slug' ../lang}}'
              class="blog-sidebar-box-item blog-item d-sm-flex wow fadeInUp" data-wow-delay="500ms"
              data-wow-duration="1500ms">
              <div class="img-box">
                <img alt="blog" loading="lazy" width="236" height="174" decoding="async" data-nimg="1" class="h-100"
                  src="{{this.img}}" />
              </div>
              <div class="content-box">
                <div class="meta-box">
                  <div class="meta-info d-flex">
                    <div class="icon">
                      <i class="flaticon-calendar"></i>
                    </div>
                    <span>{{#dateFormatDDMMYY
                      this.date
                      }}{{/dateFormatDDMMYY}}</span>
                  </div>
                </div>
                <div class="title-box">
                  <h3>
                    <h3>{{getLocalizedField this 'title' ../lang}}<h3>
                      </h3>
                </div>
                <div class="btn-box">
                  <div class="read-more"><span class="txt" data-lang="home_docthem">Đọc thêm</span><i
                      class="flaticon-right-arrow"></i></div>
                </div>
              </div>
            </a>
            {{/each}}

          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="newslatter">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="newslatter-style2">
          <div class="row">
            <div class="col-lg-6 col-xl-5">
              <h4 class="newslatter-text" data-lang="home_box_email">Nhập Email để có thể nhận được
                các tin tức mới nhất</h4>
            </div>
            <div class="col-lg-6 offset-xl-1 col-xl-6 d-flex flex-column justify-content-center">
              <div class="Subscribe-form d-flex"><input type="email" class="form-control" placeholder="Nhập email"
                  id="cta-email" required name="cta-eail">
                <button type="submit" class="thm-btn ">
                  <span class="txt" data-lang="solutions_gui">Gửi</span>
                  <span class="loader"></span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>