<footer class="footer-sec">
  <div class="section-overlay">
    <div class="container">
      <div class="row">
        <div class="col-sm-4 col-xl-3 col-7">
          <div class="footer-widget">
            <h4 class="footer-widget-title tx-white" data-lang="footer_lienhe">LIÊN HỆ</h4>
            <div class="footer-widget-content">
              <div class="footer-links">
                <ul>
                  <li>

                    {{#each companyInfor.emails}}
                    <a
                      href="mailto:{{this.email}}">
                      <i class="fa-solid fa-envelope"></i>
                      {{this.email}}
                    </a>&emsp;
                    {{/each}}
                  </li>
                  <li>
                    <a><i class="fa-solid fa-phone"></i>
                      {{#each companyInfor.phones}}<a
                        href="tel:{{this.phone}}">{{this.phone}}</a>&emsp;{{/each}}
                    </li>
                    <li>
                      <a><i class="fa-solid fa-globe"></i>
                        https://taixecongnghe.com</a>
                    </li>
                    <li>
                      <a href="https://goo.gl/maps/7YC2We4kM56LtaV6A"><i
                          class="fa-solid fa-location-dot"></i>
                        {{companyInfor.address.0.location}}</a>
                    </li>
                  </ul>
                </div>
                <div class="footer-social">
                  <div class="footer-social-icon d-flex">
                    <a target="_blank"
                      href="{{companyInfor.information.0.link_facebook}}"><i
                        class="fa-brands fa-facebook-f"></i></a>
                    <a target="_blank"
                      href="{{companyInfor.information.0.link_youtube}}"><i
                        class="fa-brands fa-youtube"></i></a>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4 offset-xl-1 col-xl-3 col-5">
          <div class="footer-widget">
            <h4 class="footer-widget-title tx-white" data-lang="footer_chinhsach">CHÍNH SÁCH</h4>
            <div class="footer-widget-content">
              <div class="footer-links">
                <ul>
                  {{#each companyInfor.policys}}
                  <li>
                    <a href="/chinh-sach/{{../lang}}/{{this.name}}">
                      
                      {{getLocalizedField this 'title' ../lang}}
                     
                    </a>
                  </li>
                  {{/each}}
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-xl-4">
          <div class="footer-widget footer-maps">
            <h4 class="footer-widget-title tx-white" data-lang="footer_bando">BẢN ĐỒ</h4>
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.3135856706826!2d106.73499489678959!3d10.863736500000016!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317527205f83292f%3A0x6d927aebd4ae2ea6!2zQ8O0bmcgdHkgQ-G7lSBwaOG6p24gVMOgaSBY4bq_IEPDtG5nIE5naOG7hw!5e0!3m2!1svi!2s!4v1720492134836!5m2!1svi!2s"
              width="100%" height="260" style="border:0;" allowfullscreen
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sx-12 p-0">
          <hr class="footer-hr" />
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row footer-copyright">
        <div class="col">
          <div class="footer-copyright-text text-center">
            <p class="pt-2 pb-2 text-center">
              Copyright 2024 © {{companyInfor.information.0.footer}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>